.signupContainer {
    border: 2px solid rgb(35, 61, 77);
    background-color: rgb(161, 193, 129);
    width: 90%;
    margin: auto;
    margin-top: 1rem;
}

.signupDiv {
    margin-bottom: .5rem;
    text-align: center;
    display: flex;
}

.flexLabel {
    flex-basis: 30%;
    text-align: right;
    margin-right: 1rem;
}

.flexTextBox {
    flex-basis: 70%;
    margin-right: 1rem;
}

.textCenter {
    text-align: center;
}

.borderBlue1 {
    border: 2px solid rgb(35, 61, 77);
    padding: 1rem;
    margin: 1rem;
}

.textRight {
    text-align: right;
    margin-right: 1rem;
}