.signupContainer {
    border: 2px solid rgb(35, 61, 77);
    background-color: rgb(161, 193, 129);
    width: 90%;
    margin: auto;
    margin-top: 1rem;
}

.signupDiv {
    margin-bottom: .5rem;
    text-align: center;
}

.textCenter {
    text-align: center;
}